#cloud-config
resize_rootfs: true
users:
  - name: ${vm_ssh_user}
    ssh-authorized-keys:
      - ${vm_ssh_key}
    sudo: ALL=(ALL) NOPASSWD:ALL

    
%{ if run_cmd }
write_files: 
- path : /home/ubuntu/rke2-init.sh
  encoding: base64
  permissions: '0755'
  content: ${base64encode(user_data)}
runcmd:
  - /home/ubuntu/rke2-init.sh
%{ endif }