# Enter the Rancher server URL
rancher_url = "https://xxx"

# Enter the Rancher API token
rancher_token = "token-xxxxx:yyyyy"

# Azure Cloud Credential
cloud_credential_name = "my-azure-cred"
client_id             = "your-azure-client-id"
client_secret         = "your-azure-client-secret"
subscription_id       = "your-azure-subscription-id"
## OR
# cloud_credential_id = "cattle-global-data:cc-xxx"

# AKS Cluster Info
cluster_name        = "my-aks-cluster"
cluster_description = "AKS cluster created via Rancher2 Terraform provider"
resource_group      = "my-aks-resource-group"
resource_location   = "eastus"
dns_prefix          = "rancheraks"
kubernetes_version  = "1.33.2"
network_plugin      = "kubenet"

# Node Pools Configuration (list of objects)
node_pools = [
  {
    availability_zones   = ["1", "2", "3"]
    name                 = "worker-pool-1"
    count                = 1
    orchestrator_version = "1.33.2"
    os_disk_size_gb      = 100
    vm_size              = "Standard_DS2_v2"
  }
]
