###### !! Required variables !! ######

## -- Set the prefix for various resources that are created. A default prefix (rancher-terraform) if not provided.
prefix = "my-name-here"

## -- Admin password to set for Rancher
# rancher_password = "at-least-12-characters"

###### !! Optional variables !! ######

## -- Azure region to create the resources, adjust as needed
# azure_region = "westus3"

#Ref. https://learn.microsoft.com/en-us/azure/reliability/regions-list
## -- Rancher Helm repository (for airgap/private registry deployments)
# rancher_helm_repository          = "https://your-private-registry/rancher"
# rancher_helm_repository_username = "username"
# rancher_helm_repository_password = "password"
# rancher_replicas                  = 3

## -- Cert Manager Helm repository (for airgap/private registry deployments)
# cert_manager_helm_repository          = "https://your-private-registry/cert-manager"
# cert_manager_helm_repository_username = "username"
# cert_manager_helm_repository_password = "password"
