###### !! Required variables !! ######

## -- AWS access/secret keys
# aws_access_key = "ACCESS_KEY_HERE"
# aws_secret_key = "SECRET_KEY_HERE"
## OR
# cloud_credential_id = "cattle-global-data:cc-xxx"

## -- AWS region to create the resources, uncomment one or adjust as needed
# aws_region = "us-east-1"         # US, Virginia
aws_region = "us-west-2"         # US, Oregon
# aws_region = "eu-west-1"         # EU, Ireland
# aws_region = "eu-west-1"         # EU, Frankfurt
# aws_region = "ap-southeast-2"    # AU, Sydney
# aws_region = "ap-south-1"        # IN, Mumbai

# Cluster name
# cluster_name = "tf-test"

# Enter the Rancher server URL
rancher_url = "https://xxx"

# Enter the Rancher API token
rancher_token = "token-xxxxx:yyyyy"

# Enter an existing the VPC ID
vpc_id = "vpc-xxx"

# Enter an existing the subnet ID
subnet_id = "subnet-xxx"

# Enter an existing security group name to use (not ID sg-*)
security_group_name = "rancher-nodes"

# AMI you want to use
ami = "ami-03f4878755434977f" # Replace with your desired AMI ID

# Kubernetes version for the RKE2/k3s cluster
# https://github.com/rancher/rke2/releases/tag
# https://github.com/k3s-io/k3s/tags
kubernetes_version = "v1.27.12+rke2r1"

###### !! Optional variables !! ######

# SSH username
# ssh_user = "ubuntu" # Replace with your SSH user

# Enter the EC2 instance type
# instance_type = "t3a.medium"

# Specify root volume size (GB)
# volume_size = "20"

# rancher_insecure = true # Allow insecure connections to Rancher
# cp_node_pool_name = "cp"
# worker_node_pool_name = "w"
# cp_count = 1
# worker_count = 1
# cni_provider = "calico"
# spot_instances = false