###### !! Required variables !! ######

# Enter the Rancher server URL
rancher_url = "https://xxx"

# Enter the Rancher API token
rancher_token = "token-xxxxx:yyyyy"

# Cluster name
cluster_name = "gke-test"

## -- Define a service account file, or an existing cloud credential
# gcp_credentials_path = "service-account.json"
## OR
# cloud_credential_id = "cattle-global-data:cc-xxx"

# Google Cloud project ID
project_id = "your-project-id"

# GKE Kubernetes version
kubernetes_version = "1.32.6-gke.1125000"

###### !! Optional variables !! ######

# cluster_description = "Terraform GKE cluster"
# region = "us-east1-b"
# cloud_credential_name = "gcp-credential"

node_pools = [
  {
    name                = "worker-pool-1"
    initial_node_count  = 1
    max_pods_constraint = 110
  }
]