###### !! Required variables !! ######

## -- The prefix used in front of all Google resources
prefix = "<RESOURCES_PREFIX>"

## -- The ID of the Google Project that will contain all created resources
project_id = "<PROJECT_ID>"

## -- Google Region to create the resources
region = "<REGION>"

#Ref. https://cloud.google.com/about/locations

## -- Range of private IPs available for the Google Subnet
# ip_cidr_range = "10.10.0.0/24"

## -- Google VPC used for all resources; you can remove the network-services module from the main.tf file and manually enter the name of your existing VPC
# vpc = null

## -- Google Subnet used for all resources; you can remove the network-services module from the main.tf file and manually enter the name of your existing Subnet
# subnet = null

## -- Supported Google Kubernetes Engine for Rancher Manager
# cluster_version = "1.26.7-gke.500"

#Ref. https://www.suse.com/suse-rancher/support-matrix/all-supported-versions/

## -- The number of nodes per instance group
# instance_count = 1

## -- Size of the disk attached to each node, specified in GB
# instance_disk_size = 50

## -- Type of the disk attached to each node
# disk_type = "pd-standard"
# disk_type = "pd-balanced"
# disk_type = "pd-ssd"

## -- The default image type used by NAP once a new node pool is being created
# image_type = "cos_containerd"
# image_type = "ubuntu_containerd"

#Ref. https://cloud.google.com/kubernetes-engine/docs/concepts/using-containerd#using_containerd_images_in_clusters 

## -- The name of a Google Compute Engine machine type
# instance_type = "e2-highmem-2"

## -- Hostname to set when installing Rancher
# rancher_hostname = "rancher"

## -- Password to set when installing Rancher
# rancher_password = "at-least-12-characters"

## -- Rancher version to use when installing the Rancher helm chart, otherwise use the latest in the stable repository
# rancher_version = "2.7.3"
