###### !! Required variables !! ######

## -- AWS access/secret keys
# aws_access_key = "ACCESS_KEY_HERE"
# aws_secret_key = "SECRET_KEY_HERE"
## OR
# cloud_credential_id = "cattle-global-data:cc-xxx"

## -- AWS region to create the resources, uncomment one or adjust as needed
# aws_region = "us-east-1"         # US, Virginia
# aws_region = "us-west-2"         # US, Oregon
# aws_region = "eu-west-1"         # EU, Ireland
# aws_region = "eu-west-1"         # EU, Frankfurt
# aws_region = "ap-southeast-2"    # AU, Sydney
# aws_region = "ap-south-1"        # IN, Mumbai

# Cluster name
cluster_name = "eks-test"

# Enter the Rancher server URL
rancher_url = "https://xxx"

# Enter the Rancher API token
rancher_token = "token-xxxxx:yyyyy"

# Multiple node groups configuration
node_groups = [
  {
    name          = "worker-pool-1"
    instance_type = "t3.medium"
    desired_size  = 2
    max_size      = 3
    min_size      = 1
  }
]

###### !! Optional variables !! ######

# Kubernetes version for the EKS cluster
# kubernetes_version = "1.33"